<div class="container-fluid">
  <div class="row">
      <div class="col-md-5">
          <p>Showing 1 to 10 of 57 tours</p>
      </div>  
      <div class="col-md-7">
          <nav aria-label="...">
            <ul class="pagination">
              <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true">Previous</a>
              </li>
              <li class="page-item" ngClass="'active' : routerLink.active" *ngFor="let page of pageCount">
                <a class="page-link" routerLink="'tours/' + {{page}} ">{{page}}</a>
              </li>
              <li class="page-item">
                <a class="page-link" routerLink="">Next</a>
              </li>
            </ul>
          </nav>
      </div>
  </div>
</div>