<div class="page">
  <div class="background"></div>

  <form class="form container" action="">
    <div class="caption">
      <h1 class="caption__title">Log in</h1>
      <p class="caption__text">
        If you don't have an account yet, please
        <a class="link" href="#">register</a> first.
      </p>
    </div>

    <div class="holder">
      <input class="input form-control" type="email" placeholder="Enter your email here" />
      <input class="input form-control" type="password" placeholder=" and your password" />

      <a class="link link_float_right link_gray" href="#">I forgot my password</a>

      <br />

      <div class="checkbox">
        <input class="checkbox__marker checkbox__marker_circle" type="checkbox" id="remember" />

        <label class="checkbox__text" for="remember">Remember me</label>
      </div>
    </div>

    <app-button text="Log in"></app-button>
  </form>
</div>
