<div class="page">
  <img
    class="img"
    src="http://getwallpapers.com/wallpaper/full/0/8/0/193335.jpg"
  />
  <div class="form container">
    <div class="caption">
      <h1>Log In</h1>
      <p>
        If you don't have an account yet, please
        <a class="link" (click)="goToRegister()">register</a>
        first.
      </p>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="logIn()">
      <input
        class="form-control"
        formControlName="email"
        type="email"
        placeholder="Your e-mail"
      />
      <input
        class="form-control"
        formControlName="password"
        type="password"
        placeholder="Your password"
      />
      <div class="holder">
        <a class="link_secondary">I forgot my password</a>
        <div class="checkbox">
          <input
            class="checkbox__marker checkbox__marker_circle"
            type="checkbox"
            id="remember"
          />

          <label class="checkbox__text" for="remember">Remember me</label>
        </div>
      </div>

      <button
        [disabled]="loginForm.invalid"
        type="submit"
        class="btn btn-primary"
      >
        Log in
      </button>
    </form>
  </div>
</div>
<simple-notifications
  [options]="{ position: ['bottom', 'left'] }"
></simple-notifications>
