@import 'src/variables';
@import 'src/mixins';

.holder {
  @include flexColumn($justify: space-between);

  .preview {
    max-height: 50vh;
    overflow: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1em 0;

    .box {
      width: 30%;
      height: auto;
      margin-bottom: 15px;

      img {
        object-fit: cover;
        object-position: top;
        height: 100%;
        width: 100%;
        transition: filter 0.75s ease-in-out;

        &:hover {
          filter: blur(3px);
        }
      }

      &:hover {
        .remove {
          visibility: visible;
          opacity: 1;

          &:hover {
            cursor: pointer;
          }
        }
      }

      .remove {
        position: absolute;
        top: 1%;
        left: 1%;
        width: 15px;
        height: 15px;

        font-size: 10px;
        color: red;
        background-color: white;
        border-radius: 50%;
        text-align: center;
        line-height: 15px;
        font-weight: bold;
        opacity: 0;

        transition: ease-in opacity 0.5s;
      }
    }
  }

  .text {
    color: $text-color;
    font-size: 0.75em;
    align-self: flex-start;
  }

  .file-input {
    height: 0;
    width: 0;
    overflow: hidden;

    & + label {
      width: 100%;
      background: steelblue;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
      font-size: 0.75em;
      font-weight: bold;
      padding: 1em 50px;
      position: relative;
      transition: all 0.3s;
    }
  }
}
