<div class="header"></div>
<div class="main_block">
  <div class="sidebar"></div>
  <div class="dashboard">
    <div class="dashboard_top">
      <div class="dashboard_top__card">
        <div class="dashboard_top_card__title">
          <h2>Total Hotels</h2>
        </div>
        <div class="dashboard_top_card__value  green">
          <h2>12</h2>
        </div>
      </div>

      <div class="dashboard_top__card">
        <div class="dashboard_top_card__title">
          <h2>Total Tours</h2>
        </div>
        <div class="dashboard_top_card__value  red">
          <h2>200</h2>
        </div>
      </div>

      <div class="dashboard_top__card ">
        <div class="dashboard_top_card__title">
          <h2>Unique Visitor</h2>
        </div>
        <div class="dashboard_top_card__value purple">
          <h2>~12%</h2>
        </div>
      </div>
    </div>
    <div class="dashboard_map">
      <img class="dashboard_map__image" src="assets\1200px-Worldmap_LandAndPolitical.jpg" alt="" srcset="" />
    </div>
  </div>
</div>
