<aside #sidebar class="sidebar">
  <div class="wrapper">
    <img src="../../../assets/img/logo.png" alt="Adminator logo" />
    <h2>Adminator</h2>
  </div>
  <nav class="nav">
    <a class="nav__item" href="#">
      <img class="nav__icon" src="../../../assets/img/home.png" />
      <span class="nav__text">Dashboard</span>
    </a>
    <a class="nav__item" href="#">
      <img class="nav__icon" src="../../../assets/img/destination.png" />
      <span class="nav__text">Tours</span>
    </a>
    <a class="nav__item" href="#">
      <img class="nav__icon" src="../../../assets/img/hotel.png" />
      <span class="nav__text">Hotel</span>
    </a>
  </nav>
</aside>
