$border: 1px solid #efefef;

.closed {
  width: 70px;
}

.shown {
  width: 200px;
}

.sidebar {
  margin: 0;
  min-height: 100vh;

  text-align: center;
  border-right: $border;
  background-color: #fff;
  color: #313435;
  cursor: pointer;

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: $border;
    h3 {
      font-size: 24px;
    }
  }

  .nav {
    min-height: 200px;
    padding-top: 50px;
    padding-left: 23px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .nav__item {
      display: flex;
      text-decoration: none;
      align-items: center;

      .nav__icon {
        width: 25px;
        height: 25px;
      }

      .nav__text {
        margin-left: 15%;
        font-size: 17px;
        color: #787c7f;
      }
    }
  }
}
