<div class="container-fluid">
  <div
    class="view"
    [ngStyle]="{
      'background-image': 'url(' + tour.hotel.images[0] + ')',
      'background-color': 'rgba(248, 247, 216, 0.7)'
    }"
  >
    <h2>{{ tour.hotel.name }}</h2>
    <p>{{ tour.hotel.address.city }}, {{ tour.hotel.address.country }}</p>
  </div>

  <div
    class="info"
    [ngStyle]="{ 'background-image': 'url(' + tour.hotel.images[0] + ')' }"
  >
    <div class="shadow">
      <div class="wrapper">
        <div class="d-flex flex-column">
          <p class="info__text">Tour ID: {{ tour.id }}</p>
          <p class="info__text" [ngStyle]="{ color: 'green' }">
            Tour relevant ???
          </p>
        </div>
        <div class="currency">
          <button
            class="btn-sm"
            [ngClass]="{ active: item == currentCurrency }"
            *ngFor="let item of currency"
            (click)="changeCurrency(item)"
          >
            {{ item }}
          </button>
        </div>
      </div>

      <div class="price">
        <p>
          <span>{{
            tour.price | currency: currentCurrency:'symbol-narrow':'5.0'
          }}</span>
          for person
        </p>
      </div>

      <div class="wrapper flex-column">
        <p class="info__text">
          Duration: <span>{{ getDuration() }} days</span>
        </p>
        <p class="info__text">
          Room Type: <span>{{ tour.roomType }}</span>
        </p>
      </div>
    </div>
  </div>
</div>
