* {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

@import "src/variables";

.section {
  display: flex;
  width: 100%;
  height: 350px;
  padding: 10px;
  font-family: Helvetica, sans-serif;
  background: $section-background-color;
}

.section_left {
  width: 60%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("src/assets/1.jpg");
  height: 100%;
  color: $item-color;

  &_shadow {
    background-color: $left-shadow-color;
    height: 100%;
    display: flex;

    &__info {
      display: flex;
      flex-direction: column;
      margin: 20px;
      width: 60%;

      h2 {
        margin-top: 20px;
        font-weight: 600;
      }

      p {
        margin-top: 2px;
        font-size: 10pt;
        font-weight: 100;
      }
    }
  }
}

.section_right {
  background-image: url("src/assets/1.jpg");
  width: 40%;
  background-size: cover;
  background-repeat: no-repeat;

  &_shadow {
    background-color: $right-shadow-color;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &_top {
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: space-between;

    button {
      height: 30px;
      outline: 0;
      outline-offset: 0;
      font-weight: 700;
      border: 0;
      background: $button-background-color;
      color: $button-text-color;
      margin: 2px;
    }
    .active {
      background: $button-active-color;
      color: $item-color;
    }

    &__status {
      .relevant {
        color: $relevant-color;
      }
    }

    &__currency {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    p {
      margin-top: 3px;
      font-size: 10pt;
      font-weight: 500;
    }
  }

  &_price {
    background: $item-color;
    display: flex;
    flex-direction: row;
    color: $button-active-color;
    &__info {
      margin: 20px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-end;

      h1 {
        margin-right: 10px;
      }
    }
  }

  &_bottom {
    display: flex;
    flex-direction: column;
    margin: 20px;
    justify-content: space-between;

    p {
      margin-top: 3px;
      font-size: 12pt;
      font-weight: 400;
    }
  }
}
