<div class="section">
  <div class="section_left">
    <div class="section_left_shadow">
      <div class="section_left_shadow__info">
        <h2>{{ infoTour.nameHotel }}</h2>
        <p>{{ infoTour.city }}, {{ infoTour.country }}</p>
      </div>
    </div>
  </div>

  <div class="section_right">
    <div class="section_right_shadow">
      <div class="section_right_top">
        <div class="section_right_top__status">
          <p>Tour ID: {{ infoTour.tourId }}</p>
          <p class="relevant">Tour {{ infoTour.status }}</p>
        </div>
        <div class="section_right_top__currency">
          <button>{{ currency.eur }}</button>
          <button class="active">{{ currentCurrency }}</button>
          <button>{{ currency.usd }}</button>
        </div>
      </div>
      <div class="section_right_price">
        <div class="section_right_price__info">
          <h1>{{ infoTour.price }} {{ currentCurrency }}</h1>
          <p>for person</p>
        </div>
      </div>
      <div class="section_right_bottom">
        <p>
          Duration: <b>{{ infoTour.duration }} days</b>
        </p>
        <p>
          Room Type: <b>{{ infoTour.roomType }} Room</b>
        </p>
      </div>
    </div>
  </div>
</div>
