@import 'src/mixins';
@import 'src/variables';

.container {
  padding-top: 1em;
  padding-bottom: 1em;

  padding: 1em 7%;
}

.btn {
  @include button($font-color: $item-color);
  width: 100%;
  height: 2.5em;
  margin-top: 1em;
}
