<ng-container *ngIf="!loading; else spinner">
  <div class="container">
    <td-header [tour]="tour"></td-header>

    <td-tab-panel
      [tabs]="tabs"
      [currentTab]="currentTab"
      (changeTab)="onChangeTab($event)"
    >
      <ng-container [ngSwitch]="currentTab">
        <ng-container>
          <td-general-tab
            *ngSwitchCase="'General'"
            [tour]="tour"
          ></td-general-tab>
        </ng-container>

        <td-service-tab
          *ngSwitchCase="'Service'"
          [services]="tour?.services"
        ></td-service-tab>
        <td-photos-tab
          *ngSwitchCase="'Photos'"
          [images]="imagesPath"
        ></td-photos-tab>
        <td-map-tab *ngSwitchCase="'Map'" [location]="location"></td-map-tab>
        <td-comments-tab *ngSwitchCase="'Comments'"></td-comments-tab>
      </ng-container>
    </td-tab-panel>
  </div>
</ng-container>

<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>
