<div class="hotel_item">
  <div class="hotel_item__block">
    <div class="hotel_item__image">
      <img src="\assets\hotel.JPG" alt="hotel image" />
    </div>
    <div class="hotel_item__info">
      <div class="hotel_item__title">
        <h2>Alara Star Hotel 5*</h2>
      </div>
      <div class="hotel_item__subtitle">
        <p>Alania, Turkey</p>
        <p>Duration: <strong>7 days</strong></p>
        <p>Room type: <strong>Standart room</strong></p>
      </div>
    </div>
    <div class="hotel_item__price">
      <div class="hotel_item__price__value">
        <h2>842 ‎€</h2>
        <p><strong>per person</strong></p>
      </div>
      <button>DETAILS</button>
    </div>
  </div>
</div>
