<div class="container-fluid">
  <div
    class="view"
    [ngStyle]="{
      'background-image': 'url(' + imgPath + ')',
      'background-color': 'rgba(248, 247, 216, 0.7)'
    }"
  >
    <h2>{{ hotel.name }}</h2>
    <p>{{ hotel.address.city }}, {{ hotel.address.country }}</p>
  </div>
  <div class="info" [ngStyle]="{ 'background-image': 'url(' + imgPath + ')' }">
    <div class="shadow">
      <div class="wrapper">
        <div class="d-flex flex-column">
          <p class="info__text">Tour ID: {{ tour.id }}</p>
          <p class="info__text" [ngStyle]="{ color: 'green' }">
            Tour relevant
          </p>
        </div>
        <div class="currency">
          <button
            class="btn-sm"
            [ngClass]="{ active: item == currentCurrency }"
            *ngFor="let item of currency"
            (click)="changeCurrency(item)"
          >
            {{ item }}
          </button>
        </div>
      </div>

      <div class="price">
        <p>
          from
          <span>{{
            convert(minPrice) | currency: currentCurrency:'symbol-narrow':'2.0'
          }}</span>
          for person
        </p>
      </div>

      <div class="wrapper flex-column">
        <p class="info__text">
          Duration: <span>{{ duration }} days</span>
        </p>
        <div class="rooms-box">
          <p class="info__text">Room types:</p>
          <div class="rooms__info">
            <span *ngFor="let item of tour.rooms">{{
              item.roomType +
                '    ' +
                (convert(item.price)
                  | currency: currentCurrency:'symbol-narrow':'2.0')
            }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
