<aside #sidebar class="sidebar" [ngClass]="isClosed() ? 'closed' : 'shown'">
  <div class="wrapper">
    <img src="../../../assets/img/logo.png" alt="Adminator logo" />
    <h3 *ngIf="!isClosed()">Adminator</h3>
  </div>

  <nav class="nav">
    <a class="link" routerLink="">
      <img class="link__icon" src="../../../assets/img/home.png" />
      <span *ngIf="!isClosed()" class="link__text">Dashboard</span>
    </a>
    <a class="link" routerLink="tours">
      <img class="link__icon" src="../../../assets/img/destination.png" />
      <span *ngIf="!isClosed()" class="link__text">Tours</span>
    </a>
    <a class="link" routerLink="hotels">
      <img class="link__icon" src="../../../assets/img/hotel.png" />
      <span *ngIf="!isClosed()" class="link__text">Hotels</span>
    </a>
  </nav>
</aside>
