@import '../../../variables';

.closed {
  width: 60px;
}

.shown {
  width: 160px;
}

.sidebar {
  margin: 0;
  min-height: 100vh;
  height: 100%;

  text-align: center;
  border-right: $border;
  background-color: $item-color;
  color: $title-color;

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: $border;

    img {
      width: 50px;
    }

    h3 {
      font-size: 18px;
    }
  }

  .nav {
    min-height: 200px;
    padding-top: 50px;
    padding-left: 19px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

.link {
  display: flex;
  text-decoration: none;
  align-items: center;

  &:hover {
    text-decoration: none;

    &__text {
      color: $title-color;
      transition: color 0.4s;
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
  }

  &__text {
    margin-left: 15%;
    font-size: 14px;
    color: $text-color;
  }
}
