@import 'src/variables';

.container {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 1em;
  margin-bottom: 1em;
  border: $border;
  background-color: $item-color;
  min-height: 80vh;

  .row {
    margin-top: 1em;
  }

  label {
    margin-bottom: 0.5em;
  }

  .title {
    color: $tour-title;
    font-weight: bold;
    font-size: 1.5em;
  }

  .price {
    .form-control {
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      padding-left: 2em;
    }

    img {
      position: absolute;
      height: 1.5em;
      top: 2em;
      left: 1em;
    }
  }

  .textarea {
    margin-top: 0.75em;
    resize: none;
  }

  .alert-danger {
    margin-top: 0.5em;
  }

  // .btn {
  //   float: right;
  //   font-size: 10px;
  //   text-transform: uppercase;

  //   color: $btn-color;
  //   border-color: $btn-color;
  //   border-radius: 10px;

  //   &:hover {
  //     background-color: $bg-color;
  //   }

  //   &:focus {
  //     box-shadow: none;
  //   }
  // }
}
