<header class="header">
  <button class="navbar-toggler" type="button" (click)="toggle()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="wrapper">
    <div class="notification">
      <img
        class="notification__icon"
        src="../../assets/img/envelope.png"
        alt="Notification icon"
      />
      <div class="notification__counter">
        <span>5</span>
      </div>
    </div>

    <div class="user" (click)="displayUserPortal()">
      <img
        class="user__img img-thumbnail"
        src="../../assets/img/user.png"
        alt="User's profile image"
      />
      <p class="user__name">John Doe</p>
    </div>
  </div>
</header>
<app-user-portal
  *ngIf="isUserPortalDisplayed"
  (hideComponent)="hideComponent($event)"
></app-user-portal>
