@import '../../../variables';

.header {
  min-width: 100%;
  height: 48px;
  padding: 0.5% 1%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $item-color;

  border-bottom: $border;

  .navbar-toggler {
    outline-color: #797e81;
    padding: 1px 3px;

    .navbar-toggler-icon {
      background-image: url('https://mdbootstrap.com/img/svg/hamburger7.svg?color=797e81');
      height: 20px;
      width: 20px;
    }
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    width: 160px;

    .notification {
      position: relative;
      cursor: pointer;
      margin-top: 0.23rem;

      .notification__icon {
        position: absolute;
        top: 5px;
        width: 20px;
      }

      .notification__counter {
        position: absolute;
        left: 14px;
        width: 15px;
        height: 15px;
        background-color: pink;
        border-radius: 50%;
        line-height: 14px;
        text-align: center;

        span {
          font-size: 14px;
        }
      }
    }

    .user {
      display: flex;
      cursor: pointer;
      .user__img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }

      .user__name {
        align-self: center;
        font-size: 0.9rem;
        margin: 0 0 0 0.5rem;
      }
    }
  }
}
