* {
  font-family: "Lato", sans-serif;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

@import "src/variables";

.hotel_item {
  background: $section-background-color;
  padding: 3px;

  &__block {
    display: flex;
    flex-direction: row;
    background: $item-color;
  }

  &__title h2 {
    margin: 10px 0;
  }

  &__info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0 20px;
    background: $item-color;
  }

  &__title {
    color: $button-active-color;
  }

  &__subtitle {
    color: $subtitle-color;

    strong {
      color: $black-color;
    }

    p {
      margin-bottom: 20px;
    }
  }

  &_price {
    background: $price-background-color;
    display: flex;
    flex-direction: column;
    flex-basis: 160px;
    justify-content: space-between;
    padding-right: 10px;
    padding-bottom: 5px;

    &__value {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 35%;
    }

    button {
      background: $button-background-orange;
      color: $item-color;
      height: 44px;
      outline: 0;
      outline-offset: 0;
      font-weight: 500;
      border: 0;
    }
  }
}
