<div class="container-fluid">
  <div class="tour">
    <img class="tour__img" [src]="imgPath" />

    <div class="holder">
      <div class="title-box">
        <h2 class="title">{{ hotel.name }}</h2>
        <span>{{ hotel.address.city + ' ' + hotel.address.country }}</span>
      </div>
      <span class="tour__info"
        >Duration: <span>{{ duration }} days</span></span
      >
      <span class="tour__info"
        >Room types:
        <span *ngFor="let item of tour?.rooms">{{ item.roomType + ' ' }}</span>
      </span>
    </div>
  </div>

  <div class="detail-box">
    <span class="price">from {{ minPrice }}$ <br />per person</span>
    <button class="btn btn-outline-primary" (click)="viewDetails()">
      View details
    </button>
  </div>
</div>
