<div class="container">
  <div class="head-box">
    <a class="btn btn-primary" routerLink="creating">Create</a>
    <input
      class="form-control"
      type="search"
      placeholder="search by hotel name..."
    />
  </div>
  <div
    class="wrapper"
    *ngFor="
      let item of collection
        | paginate
          : {
              itemsPerPage: itemsPerPage,
              currentPage: page + 1,
              totalItems: length
            }
    "
  >
    <tour-item [tour]="item"></tour-item>
  </div>

  <pagination-controls class="my-pagination" (pageChange)="changePage($event)">
  </pagination-controls>
</div>
