@import 'src/variables';

.container {
  padding-top: 1em;
  padding-bottom: 1em;

  .my-pagination /deep/ {
    .ngx-pagination {
      text-align: center;
      .current {
        background-color: $active-color;
      }
    }
  }

  .wrapper {
    margin-bottom: 0.5em;
  }
}

.head-box {
  width: 100%;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;

  .form-control {
    width: 50%;
  }

  .btn-primary {
    background-color: $active-color;
    border: none;

    &:hover {
      background-color: darken($color: $active-color, $amount: 10);
    }
  }
}
