<div class="text-wrapper">
  <h2 class="caption">Please describe your hotel:</h2>
  <span class="text">*required fields</span>
</div>

<form [formGroup]="hotelForm" >
  <input
    class="form-control"
    type="text"
    formControlName="name"
    placeholder="Name*"
    [ngClass]="{ 'invalid-input': isValid('name') }"
  />
  <p *ngIf="isValid('name')" class="invalid-msg">
    Your name is invalid. You can use only letters and name must be longer than
    4 symbols.
  </p>

  <div class="row">
    <div class="col-sm-4">
      <select class="custom-select" formControlName="country">
        <option *ngFor="let item of countries" value="item">{{ item }}</option>
      </select>
    </div>
    <div class="col">
      <input
        class="form-control"
        type="text"
        formControlName="phone"
        placeholder="Contact phone*"
        [ngClass]="{ 'invalid-input': isValid('phone') }"
      />
      <p *ngIf="isValid('phone')" class="invalid-msg">
        Phone number must start with + and must be 12 digits.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <input
        class="form-control"
        type="text"
        formControlName="city"
        placeholder="City*"
        [ngClass]="{ 'invalid-input': isValid('city') }"
      />
      <p *ngIf="isValid('city')" class="invalid-msg">
        This field must contain only letters and min length is 4 symbols.
      </p>
    </div>
    <div class="col">
      <input
        class="form-control"
        type="text"
        formControlName="region"
        placeholder="Region / State"
        [ngClass]="{ 'invalid-input': isValid('region') }"
      />
      <p *ngIf="isValid('region')" class="invalid-msg">
        You can use only letters!
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <input
        class="form-control"
        type="text"
        formControlName="street"
        placeholder="Street"
        [ngClass]="{ 'invalid-input': isValid('street') }"
      />
      <p *ngIf="isValid('street')" class="invalid-msg">
        You can use only letters!
      </p>
    </div>

    <div class="col-sm-4">
      <input
        class="form-control"
        type="number"
        formControlName="lat"
        min="-90"
        max="90"
        placeholder="Latitude"
        [ngClass]="{ 'invalid-input': isValid('lat') }"
      />
      <p *ngIf="isValid('lat')" class="invalid-msg">
        Latitude must be greater or equal to -90 and less or equal to 90.
      </p>
    </div>

    <div class="col-sm-4">
      <input
        class="form-control"
        type="number"
        formControlName="lng"
        min="-180"
        max="180"
        placeholder="Longitude"
        [ngClass]="{ 'invalid-input': isValid('lng') }"
      />
      <p *ngIf="isValid('lng')" class="invalid-msg">
        Latitude must be greater or equal to -180 and less or equal to 180.
      </p>
    </div>
  </div>

  <textarea
    class="form-control textarea"
    type="text"
    formControlName="description"
    rows="5"
    placeholder="Hotel description*"
    [ngClass]="{ 'invalid-input': isValid('description') }"
  ></textarea>
  <p *ngIf="isValid('description')" class="invalid-msg">
    Tell us more about your hotel! Min length of description - 140 symbols. Like
    tweets in the old days :)
  </p>
</form>
