@import 'src/variables';

.container-fluid {
  border: $border;
  background-color: $item-color;
  padding: 10px;
}

.hotel {
  display: flex;
  justify-content: space-between;

  font-size: 10px;
  font-weight: bold;

  &__img {
    width: 200px;
    max-height: 150px;
    margin-right: 10px;
  }

  &__name {
    font-size: 12px;
    text-transform: uppercase;
    color: $title-color;
  }

  &__location {
    font-weight: normal;
  }

  &__rating {
    display: flex;
    // flex-direction: column;

    span {
      margin-right: 5px;
    }

    app-rating {
      width: 50%;
    }
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    > * {
      margin-bottom: 10px;
    }
  }

  .btn {
    align-self: flex-end;
    font-size: 10px;
    text-transform: uppercase;

    color: $btn-color;
    border-color: $btn-color;
    border-radius: 10px;

    &:hover {
      background-color: $bg-color;
    }

    &:focus {
      box-shadow: none;
    }
  }
}
