@import 'src/variables';
@import 'src/mixins';

.container-fluid {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5em;
  padding-bottom: 0.5em;

  background-color: $item-color;
  border: $border;
}

.hotel {
  display: flex;
  justify-content: space-around;

  color: $text-color;

  .holder {
    margin-left: 1em;
    @include flexColumn(space-between);

    .title-box {
      @include flexColumn(space-evenly);

      .title {
        margin-bottom: 0.1em;
        font-size: 1.5em;
        color: $btn-color;
        font-weight: bold;
      }
    }

    .hotel__rating {
      min-width: 12em;
      height: 30%;
      @include flexColumn(space-between);
    }
  }

  &__img {
    object-fit: cover;
    height: 150px;
    width: 250px;
  }
}

.btn {
  align-self: flex-end;
  font-size: 10px;
  text-transform: uppercase;

  color: $btn-color;
  border-color: $btn-color;
  border-radius: 10px;

  &:hover {
    background-color: $bg-color;
  }

  &:focus {
    box-shadow: none;
  }
}
