<!-- <div class="container-fluid">
  <div class="hotel">
    <img class="hotel__img img-thumbnail" [src]="imgPath" />
    <div class="wrapper">
      <h2 class="hotel__name">{{ hotel.name }}</h2>
      <p class="hotel__location">
        {{ hotel.address.country + ', ' + hotel.address.city }}
      </p>
      <div class="hotel__rating">
        <span> Rating: {{ rating }}/10 </span>
        <app-rating [rating]="rating"></app-rating>
      </div>
    </div>
  </div>
  <button class="btn btn-outline-primary" (click)="viewDetails()">
    View details
  </button>
</div> -->
<div class="container-fluid">
  <div class="hotel">
    <img class="hotel__img" [src]="imgPath" />

    <div class="holder">
      <div class="title-box">
        <h2 class="title">{{ hotel.name }}</h2>
        <span>{{ hotel.address.city + ' ' + hotel.address.country }}</span>
      </div>
      <div class="hotel__rating">
        <span> Rating: {{ rating }}/10 </span>
        <app-rating [rating]="rating"></app-rating>
      </div>
    </div>
  </div>

  <button class="btn btn-outline-primary" (click)="viewDetails()">
    View details
  </button>
</div>
