$border-color: #efefef;
$bg-color: #f9fafb;
$item-color: #fff;
$text-color: #787c7f;
$title-color: #313435;
$border: 1px solid $border-color;
$active-color: #00aae1;
$blue: #5ec9e3;
$textColor: #415261;
$grayText: rgba(141, 151, 160, 0.8);
