$border-color: #efefef;
$bg-color: #f9fafb;
$item-color: #fff;
$text-color: #787c7f;
$title-color: #313435;
$border: 1px solid $border-color;
$active-color: #00aae1;

@mixin button($bg-color: $active-color, $font-color: $text-color) {
  background-color: $bg-color;
  border: none;
  color: $font-color;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}
