$border-color: #efefef;
$bg-color: #f9fafb;
$item-color: #fff;
$text-color: #787c7f;
$title-color: #313435;
$border: 1px solid $border-color;
$relevant-color: #288153;
$left-shadow-color: rgba(0, 0, 0, 0.3);
$right-shadow-color: rgba(255, 255, 255, 0.85);
$section-background-color: #ecf0f1;
$button-background-color: #cacad8;
$button-text-color: #8a8a8b;
$button-active-color: #20aadf;
$subtitle-color: #9a9a9a;
$price-background-color: #ececfa;
$black-color: black;
$button-background-orange: #fcad21;
